@use "../../../assets/styles/common" as *;

figure {
  position: relative;
  text-align: center;
  background-color: $color-neutral-darkgrayishblue;
  top: 25%;

  margin: 0 1rem;

  @include isMediaTabletLandscape() {
    margin: 0 32rem;
  }

  p {
    color: orange;
    letter-spacing: 3px;
  }

  h1 {
    color: $color-primary-lightcyan;
    font-weight: $font-weight-extrabold;
    font-size: $font-size-28;
  }

  button {
    transition: box-shadow 0.5s ease-in-out;
    &:hover {
      box-shadow: $elevation-01;
    }
  }
}
