/* ----- Primary Colors ----- */
$color-primary-lightcyan: hsl(193, 38%, 86%);
$color-primary-neongreen: hsl(150, 100%, 66%);

/* ----- Neutral Colors ----- */
$color-neutral-grayishblue: hsl(217, 19%, 38%);
$color-neutral-darkgrayishblue: hsl(217, 19%, 24%);
$color-neutral-darkblue: hsl(218, 23%, 16%);
